@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@400;500&family=Josefin+Sans:ital,wght@0,100;0,200;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans&family=Poppins:wght@400;500;600&display=swap');


:root{
    --main-color: #0000b8;
    --secondary-color:#ffffff;
    --light-color: #003ae9;
}


body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


.container{
    height: 200vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efefef;
}


.wrapper{
    width: 50%;
    height: 160vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--main-color);
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.45) 0 25px 20px -20px;
}


.content-heading{
    font-size: 30px;
    color: var(--secondary-color);
    text-align: start;
    width: 20%;
    position: fixed;
    left: 410px;
    bottom: 20rem;
}


.content-heading div{
    font-size: 60px;
    transform: translateY(-10px);
}


.form{
    width: 55%;
    height: 160vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
}


.form form{
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}


form .input-field{
    width: 90%;
    height: 55px;
    display: flex;
    flex-direction: column-reverse;
}


input{
    font-size: 15px;
    outline: none;
    border: none;
    font-family: 'Poppins';
    background: transparent;
    border-bottom: 3px solid var(--main-color);
    z-index: 1;
}


label{
    font-size: 18px;
    position: relative;
    top: 22px;
    transition: .3s;
}


.input-field span{
    transition: .3s;
}



input:focus{
    border-bottom: 3px solid black;
}


input:focus + label,
input:valid + label{
    transform: translateY(-26px);
    color: var(--main-color);
    font-size: 14.5px;
}


input:focus + span,
input:valid + span{
    transform: translateY(-2px);
    color: var(--main-color);
    font-size: 14.5px;
}


.input-field button{
    height: 45px;
    font-size: 15px;
    border-radius: 8px;
    color: var(--secondary-color);
    background: var(--main-color);
    border: none;
    font-family: inherit;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, .3);
    cursor: pointer;
}


.input-field button:hover{
    color:var(--secondary-color);
    background-color: var(--light-color);
}